In [2]:
import pandas as pd
import pprint
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_trf
nlp = spacy.load('en_core_web_trf')

In [3]:
ep_df = pd.read_csv('Resources/Combined_Episode_Scrapes.csv', index_col=0)
ep_df

,index,Number,Title,Description,Link
0,0,"Season 1, Episode 1",Revisiting Big Renovations in the South of France,House Hunters International is revisiting the ...,https://www.hgtv.com/shows/house-hunters-inter...
1,1,"Season 1, Episode 2","Revisiting Remote Renovations in Australia, Ne...",House Hunters International checks back in wit...,https://www.hgtv.com/shows/house-hunters-inter...
2,2,"Season 1, Episode 3",Revisiting Historic Renovations in Italy and F...,House Hunters International wondered what happ...,https://www.hgtv.com/shows/house-hunters-inter...
3,3,"Season 1, Episode 4","Revisiting Euro Renovations in Berlin, Copenha...",House Hunters International travels across Eur...,https://www.hgtv.com/shows/house-hunters-inter...
4,4,"Season 1, Episode 5","Revisiting Latin Renovations in Belize, Panama...",House Hunters International retraces the steps...,https://www.hgtv.com/shows/house-hunters-inter...
...,...,...,...,...,...
2191,7,"Season 163, Episode 2",Quintessential vs. Convenient in Cambridge,A young family is leaving the suburbs of Tampa...,https://www.hgtv.com/shows/house-hunters-inter...
2192,8,"Season 164, Episode 3","Beat Drops and Flip Flops in Koh Chang, Thailand",An up-and-coming rapper tired of life in Canad...,https://www.hgtv.com/shows/house-hunters-inter...
2193,9,"Season 165, Episode 5","Trading Dreams in Dublin, Ireland",A couple trades her dream life in Chicago for ...,https://www.hgtv.com/shows/house-hunters-inter...
2194,10,"Season 166, Episode 1",Staying Calm in Cologne,A newlywed couple follows a job opportunity ba...,https://www.hgtv.com/shows/house-hunters-inter...
2195,11,"Season 167, Episode 1","Cupid's Arrow Strikes in Bangkok, Thailand",A Denver man met his new girlfriend on a world...,https://www.hgtv.com/shows/house-hunters-inter...

In [5]:
city_df = pd.read_csv('Resources/World_Cities.csv')
city_df

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

In [ ]:
ep_df['Description'][0]

In [ ]:
# i = 6
# while i < 16:
#     print(df['Description'][i])
#     print('_____________')
#     doc = nlp(str(df['Description'][i]))
#     for ent in doc.ents:
#         print(ent.text, ent.label_)
#     print('_____________')
#     i +=1

In [32]:
print(ep_df['Description'][20])
doc = nlp(str(ep_df['Description'][20]))
for ent in doc.ents:
    if ent.label_ == 'GPE':
        if process.extractOne(str(ent.text), city_df['name'])[1]>90:
            print(f'{ent.text} is a city')
        if process.extractOne(str(ent.text), city_df['subcountry'])[1]>90 or \
        process.extractOne(str(ent.text), city_df['country'])[1]>90:
            print(f'{ent.text} is a country')

Newlyweds Sally and Scot McLellan love the location of their one-bedroom flat in Glasgow, Scotland, but after two years of renting, they are ready to buy a place of their own. Though they adore being minutes away from their gym, shopping and friends, the McLellans have outgrown their cramped space and have decided to find a place with more room in one of the surrounding towns. Real estate agent Tony Walsh signs on to help with the search.
Scotland is a country

In [22]:
if 'United States' in city_df['country']:
    print('yes')

In [23]:
from fuzzywuzzy import process

C:\Users\Dan\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [27]:
process.extractOne("United States", city_df['country'])[1]

100